<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185195273192-286dht4dcuanv3ta34eb8re6e384ao77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185195273192-286dht4dcuanv3ta34eb8re6e384ao77</string>
	<key>API_KEY</key>
	<string>AIzaSyAWQWTitwsojry4_6UCZWNPLKPe72yCF1c</string>
	<key>GCM_SENDER_ID</key>
	<string>185195273192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messangerApp</string>
	<key>PROJECT_ID</key>
	<string>messanger-app-ad524</string>
	<key>STORAGE_BUCKET</key>
	<string>messanger-app-ad524.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185195273192:ios:bdb37fd6a123d5052d225d</string>
</dict>
</plist>